container_commands:
  01_collectstatic:
    command: "source $PYTHONPATH/activate && python manage.py collectstatic --noinput"



option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    
  aws:elasticbeanstalk:container:python:
    WSGIPath: whatsapp_clone.wsgi:application


  aws:elbv2:listenerrule:ws:
    PathPatterns: /ws/*
    Process: websocket
    Priority: 1
  aws:elasticbeanstalk:environment:process:websocket:
    Port: '5000'
    Protocol: HTTP

