<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <!-- <link rel="stylesheet" href="/static/css/output.css" /> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="/static/css/output.css"  rel="stylesheet"/> 
    <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.0-beta.9/draggable.min.js"></script>
    <!-- <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js" defer></script> -->
    {% load static %}
    
    
    {% load custom_filters %}
  </head>

  <body>
    <main class="relative flex overflow-hidden flex-col h-screen bg-[#caf0f8]">
      <!-- top ribbon  -->
      <div id = "top-ribbon" class="relative flex items-center top-0 z-10 h-14 py-4 w-full bg-[#00002E]">
        <span id = "goBackButton" >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="fill-current text-[#caf0f8] mx-4 w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
          </svg>
        </span>
        <h1 class="text-[#caf0f8] text-lg font-bold "> Chats</h1>
      
        
      </div>
      <!--end of top ribbon  -->

      <!-- whole main content -->

      <div class="flex flex-1 flex-row">
        <!-- Vertical Navigation Bar -->
        {% include 'desktop_nav.html' %}
        <!-- Vertical Navigation Bar -->



        <!-- section 2 -->
        <div class="hidden sm:block relative sm:min-w-[25%] ">
          <!-- serch for user in chatlist -->
          <div class="mt-3 mx-6 flex items-start justify-center">
            <div class="relative ">
              <input class="h-10 w-full rounded-full text-center placeholder:text-sm " type="text" id="searchInput" placeholder="&#8203;Enter your Username" />
              <div class="pointer-events-none absolute left-0 top-0 flex h-full items-center "></div>
            </div>
          </div>
          <!-- serch for user in chatlist -->

          <!-- list of users -->
          <div class="flex flex-col justify-center ">
            <ul class="py-7 overflow-y-auto max-h-[calc(100vh-4rem)] ">
                {% for user in UserProfile_obj %}

                {% if user.is_session_opened == True %}
                {% if user.message_seen == True  %}
                 
                    <a href = "{% url 'chatPage' id=user.Follower_id %}">
                      <li class="text-[#00002E] hover:text-[#00002E] border-y border-gray-400 px-4 py-3 text-center hover:bg-[#8acdea]">
                      <div class="flex flex-row items-center ">
                        <img src="{{user.Follower.image.url}}" class="ml-5 h-14 w-14 object-cover flex-none rounded-full bg-black" />
                        <div class="ml-5 text-start ">
                          <p class="flex-none"><b>{{user.Follower.first_name}}</b> @{{user.Follower.username}}</p>
                          <h1 class="text- mt-2">{{last_message}}</h1>
                        </div>
                      </div>
                    </li></a>
                  
              {% else %}
                  <a href = "{% url 'chatPage' id=user.Follower_id %}"><li class="bg-[#ade8f4] border-y border-gray-700 px-4 py-2 text-center hover:bg-[#ade8f4]">
                    <div class="flex flex-row items-center">
                      <img src="{{user.Follower.image.url}}" class="ml-5 h-14 w-14 flex-none rounded-full bg-black" />
                      <div class="ml-5 text-start text-[#00002E] hover:text-[#00002E]">
                        <p class="flex-none"><b>{{user.Follower.first_name}}</b> @{{user.Follower.username}}</p>
                        <h1 class="text- mt-2">{{last_message}}</h1>
                      </div>
                    </div>
                  </li></a>
                  {% endif %}
              {% else %}

              <a href = "{% url 'chatPage' id=user.Follower_id %}"><li class="bg-gray-400 border-y border-gray-700 px-4 py-2  text-center hover:bg-gray-300">
                <div class="flex flex-row items-center grayscale">
                  <img src="{{user.Follower.image.url}}" class="object-cover ml-5 h-14 w-14 flex-none rounded-full bg-black" />
                  <div class="ml-5 text-start text-[#00002E] hover:text-[#00002E]">
                    <p class="flex-none"><b>{{user.Follower.first_name}}</b> @{{user.Follower.username}}</p>
                    <h1 class="text- mt-2">{{last_message}}</h1>
                  </div>
                </div>
              </li></a>

              {% endif %}

                  

                  
                {% endfor %}
            </ul>
          </div>
           <!-- end of list of users -->


        </div>
        <!-- end of section 2 -->



        <!-- section 3 chatting area -->
        <div class="relative flex-1 bg-[#caf0f8] shadow-2xl w-full ring-slate-700 sm:mx-auto sm:block sm:w-[55%] sm:rounded-lg">
          <!-- start of ribbon -->

          <div class="flex flex-row   items-center justify-center bg-[#ade8f4] py-5 font-bold text-[#00002E] backdrop-blur-sm">
            <img src="{{ user.image.url  }}" class="object-cover h-16 w-16 rounded-full bg-slate-300" />
           
            <div class="ml-3 ">
              <h1>{{user.first_name}}</h1>
              <h2>@{{user.username}}</h2>
            </div>
            
          </div>
          <!-- end of ribbon -->
          <!-- message input area -->
          <div class="fixed bottom-0 flex w-full sm:w-[55%] justify-between rounded-t-lg bg-[#00002E]  overflow-y-auto">
            
            {% if session_status %}
            <form id="file-upload-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex items-center">
              <label for="fileInput" class="flex ditems-center justify-center rounded-md cursor-pointer">
                  
                  <svg xmlns="http://www.w3.org/2000/svg" class="ml-4 mt-6 h-6 w-6 " viewBox="0 0 512 512">
                    <path fill="#ade8f4" d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z" />
                  </svg>
                  
              </label>
            </div>
              <input type="file" name="fileInput" id="fileInput" class="hidden" accept="image/*, audio/* , .mp4 ,.avi ,.mov, application/pdf,application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, text/plain">
            </form>

            <div id="file-name" class="hidden max-w-[250px] truncate  sm:max-w-[300px] max-h-10 break-words text-sky-200 px-6 py-6"></div>
            <style>
              .custom-input-box {
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
              }
            </style>
            <textarea  rows = "1"  type="text" id="message_input" oninput="autoExpand(this)" class="mx-5 my-4 py-2 w-full rounded-2xl px-4 placeholder:px-0"  placeholder="Write message..."  ></textarea>

            <div id = "sending" class="hidden items-center flex flex-row bg-inherit " disabled>
              <svg class="animate-spin fill-current text-[#ade8f4]"  xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"/></svg>
              <h1 class="px-3 text-[#ade8f4]"> Sending...</h1>
            </div>
            
            
            <div class="flex citems-center" id="chat-message-submit">
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-5 mr-4 h-8 w-8 hover:rounded-lg fill-current text-[#ade8f4] hover:text-[#caf0f8] " viewBox="0 0 256 256" id="paper-plane-right">
                 <path  d="M223.44434,114.03906,54.5293,19.44727A16.00042,16.00042,0,0,0,31.64355,38.78906L60.64746,120H136a8,8,0,0,1,0,16H60.64746L31.64355,217.21094a16.0398,16.0398,0,0,0,15.041,21.4082,16.039,16.039,0,0,0,7.8457-2.06641l168.91309-94.59179a16.00165,16.00165,0,0,0,.001-27.92188Z"></path>
              </svg>
            </div>

            <div>
          <div  class="flex items-center" onclick = "open_delete_modal()" id="end-chat-button">    
            <svg  xmlns="http://www.w3.org/2000/svg" class="fill-current mt-5 mr-4 h-8 w-8 text-[#ade8f4] hover:text-[#caf0f8]" viewBox="0 0 640 512">
              <path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L512.9 376.7C552.2 340.2 576 292.3 576 240C576 125.1 461.4 32 320 32c-67.7 0-129.3 21.4-175.1 56.3L38.8 5.1zM64 240c0 45.1 17.7 86.8 47.7 120.9c-1.9 24.5-11.4 46.3-21.4 62.9c-5.5 9.2-11.1 16.6-15.2 21.6c-2.1 2.5-3.7 4.4-4.9 5.7c-.6 .6-1 1.1-1.3 1.4l-.3 .3 0 0 0 0 0 0 0 0c-4.6 4.6-5.9 11.4-3.4 17.4c2.5 6 8.3 9.9 14.8 9.9c28.7 0 57.6-8.9 81.6-19.3c22.9-10 42.4-21.9 54.3-30.6c31.8 11.5 67 17.9 104.1 17.9c37 0 72.3-6.4 104-17.9L82.9 161.3C70.7 185.6 64 212.2 64 240z"/></svg>
          </div>
          </div>
          {% else %}

            
         
          <div class="flex flex-col-reverse sm:flex-row justify-center ">
            <h1 class="text-base text-center py-2 sm:py-6 px-10 text-white"> The session ended please leave your feedback <a href =  "#" onclick="open_feedback_modal()" class="text-blue-600">here</a> </h1>
            <p class="text-base text-center py-2 sm:py-6 px-10 text-white"> If you want to chat again
            <a href="{% url 'creator_profile' username=user.username %}">
              <button class="bg-[#8acdea] text-black px-6 py-1 rounded-full"> Pay </button></p>
            </a> 
          </div>
       

          {% endif %}

          </div>

          <!-- feedback here  -->
          <div>
            
          </div>
           <!-- feedback here  -->  



          <!-- end of message input area -->

          <!-- error message display area -->
          <div id = "message-body" >

          </div>


          <!-- end of error message display area -->
            
            <div   id = "end-chat-modal" class="hidden absolute inset-0 flex justify-center items-center">
              <div class="w-64 rounded-3xl bg-[#00002E] px-5 py-5 backdrop-blur-3xl">
                <h1 class="text-xl font-bold text-[#8acdea]">End Chat ?</h1>
                <h1 class="mt-2 text-[#caf0f8]">Are you sure you want to end the chat? Once the chat is ended, it cannot be undone.</h1>
                <div class="mt-6 flex justify-around">
                  <a href = "{% url 'close_session' id=user.id %}"><button class="rounded-full bg-[#8acdea] px-6 py-2 font-bold ring-1 ring-[#caf0f8] ring-offset-2">Sure</button></a>
                  <button onclick = "close_delete_modal()" class="rounded-full bg-gray-400 px-4 py-2 font-bold ring-2 ring-gray-400 ring-offset-2">cancel</button>
                </div>
              </div>
            </div>
            

          <!-- messaging area  -->
        <div class="flex overflow-y-auto  items-end bg-[#caf0f8] w-full sm:min-w-[55%] break-words pb-16 ">
              <!-- Your content here -->
          <div id = "chat-body" class=" overflow-y-auto max-h-[calc(100vh-14rem)] pt-10 pb-20 w-full "> 

            <!-- messages  -->
            {% for msg in msgs %}
            {% if msg.file %}
            {% if msg.sender == request.user.username %}
            <div onclick="toggleDeleteButton('{{ msg.id }}')" class="flex justify-end mb-5 mr-3 group/item">
              <div class="flex flex-col max-w-[75%]">
                <div class="flex flex-row items-end">
              

                {% if msg.file.name|lower|endswith:'.jpg' or msg.file.name|lower|endswith:'.jpeg' or msg.file.name|lower|endswith:'.png' %}
                     
                <a href = "{% url 'delete_chat' id=user.id chat_id=msg.id %}"><svg data-file-name="{{ msg.id }}" class = "delete-button sm:block hidden px-2 sm:invisible text-[#00002E] hover:text-[#464555] fill-current sm:group-hover/item:visible h-8 w-8 rounded-full" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 448 512"><path  d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>
                <div class=" overflow-hidden  bg-[#00002E]  rounded-s-3xl rounded-br-md rounded-tr-3xl text-sky-200"><img class="object-cover max-w-full max-h-[16rem] sm:max-w-md " alt = "image" src = "{{ msg.file.url }}"></div>
                   
                {% elif msg.file.name|lower|endswith:'.mp4' or msg.file.name|lower|endswith:'.avi' or msg.file.name|lower|endswith:'.mov' %}
                   
                <a href = "{% url 'delete_chat' id=user.id chat_id=msg.id %}"><svg data-file-name="{{ msg.id }}" class = "delete-button sm:block hidden px-2 sm:invisible text-[#00002E] hover:text-slate-950 fill-current sm:group-hover/item:visible w-20 h-20 sm:h-8 sm:w-8 rounded-full" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 448 512"><path  d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>
                <div class=" overflow-hidden  bg-[#00002E] rounded-s-3xl rounded-br-md rounded-tr-3xl roun text-sky-200">
                  <video class = "sm:max-w-xs bg-white" controls>
                  <source src="{{ msg.file.url }}" type="{{ msg.file.content_type }}" >
                  Your browser does not support the video tag.
              </video></div>
              
               
              {% elif msg.file.name|lower|endswith:'.pdf' or msg.file.name|lower|endswith:'.doc' or msg.file.name|lower|endswith:'.docx' %}
                    
              <a href = "{% url 'delete_chat' id=user.id chat_id=msg.id %}"><svg data-file-name="{{ msg.id }}" class = "delete-button sm:block hidden px-2 sm:invisible text-[#00002E] hover:text-[#464555] fill-current sm:group-hover/item:visible h-8 w-8 rounded-full" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 448 512"><path  d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>        
              <div class="focus:bg max-w-sm hover:bg-gray-950  rounded-s-3xl rounded-br-lg rounded-tr-3xl bg-[#00002E] px-4 py-2 text-sky-200">
                
                <a class="flex flex-row" href="{{ msg.file.url }}" target="_blank">
                
                <h1 class="break-all underline ">{{ msg.file.name }}</h1></a></div>
                
                
                
                                  
              {% elif msg.file.name|lower|endswith:'.mp3' or  msg.file.name|lower|endswith:'.ogg' %}
                  
              <a href = "{% url 'delete_chat' id=user.id chat_id=msg.id %}"><svg data-file-name="{{ msg.id }}" class = "delete-button sm:block hidden px-2 sm:invisible text-[#00002E] hover:text-[#464555] hover:bg-opacity-2 fill-current sm:group-hover/item:visible h-8 w-8 rounded-full" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 448 512"><path  d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>   
              <div class=" text-sky-200"> 
                <audio class="max-w-full rounded-full" controls>
                <source src="{{ msg.file.url }}" type="{{ msg.file.content_type }}">
                Your browser does not support the audio tag.
              </audio> </div>

                {% else %}

                <a href = "{% url 'delete_chat' id=user.id chat_id=msg.id %}"><svg data-file-name="{{ msg.id }}" class = "delete-button sm:block hidden px-2 sm:invisible text-[#00002E] hover:text-[#464555] fill-current sm:group-hover/item:visible h-8 w-8 rounded-full" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 448 512"><path  d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>
                <div class="hover:bg-slate-950 rounded-s-3xl rounded-br-lg rounded-tr-3xl bg-[#00002E px-4 py-2 text-sky-200"><a href="{{ msg.file.url }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 pt-10" viewBox="0 0 384 512"><path fill = '#ffffff' d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z"/></svg>{{ msg.file.name }}</a></div>
                           
                {% endif %}
              </div>
              <code class="flex justify-end mr-2 text-[80%]  text-[#00002E]"> {{ msg.timestamp|time:'H:i' }} </code>
              </div>
            </div>
            {% else %}
            <div class="flex justify-start ml-3 mb-5 ">
              <div class="flex flex-col max-w-[75%]">

                  {% if msg.file.name|lower|endswith:'.jpg' or msg.file.name|lower|endswith:'.jpeg' or msg.file.name|lower|endswith:'.png' %}
                  
                      <div class="overflow-hidden  bg-[#8acdea] rounded-2xl text-slate-950"><img class="object-cover max-w-[15rem] max-h-[16rem] sm:max-w-md " alt = "image" src = "{{ msg.file.url }}"></div>
                      <code class="text-[80%] flex   ml-2 text-[#00002E]"> {{ msg.timestamp|time:'H:i' }}  </code>
                    </div>
                  
                {% elif msg.file.name|lower|endswith:'.mp4' or msg.file.name|lower|endswith:'.avi' or msg.file.name|lower|endswith:'.mov' %}
                    
                      <div class= " overflow-hidden bg-[#8acdea] rounded-2xl text-slate-950">
                        <video class = "sm:max-w-xs bg-white" controls>
                        <source src="{{ msg.file.url }}" type="{{ msg.file.content_type }}" >
                        Your browser does not support the video tag.                                     
                    </video></div>
                    <code class="flex text-[80%] ml-2 text-[#00002E]"> {{ msg.timestamp|time:'H:i' }} </code>
                    </div>


                    
                  
                   
                {% elif msg.file.name|lower|endswith:'.pdf' or msg.file.name|lower|endswith:'.doc' or msg.file.name|lower|endswith:'.docx' %}
                   
                      <div class="hover:bg-sky-30   rounded-e-3xl rounded-bl-lg rounded-tl-3xl bg-[#ade8f4] px-4 py-2 text-slate-950">
                        <a href="{{ msg.file.url }}" target="_blank">
                        <h1 class="break-words underline">
                        {{ msg.file.name }} </h1>
                      </a></div>
                      <code class="flex ml-2 text-[80%] text-[#00002E]">  {{ msg.timestamp|time:'H:i' }} </code>
                    </div>
                 
                  {% elif msg.file.name|lower|endswith:'.mp3' or  msg.file.name|lower|endswith:'.ogg' %}
                  
                    <div class=" rounded-3xl   "> <audio class="rounded-2xl max-w-full" controls>
                      <source  src="{{ msg.file.url }}" type="{{ msg.file.content_type }}">
                      Your browser does not support the audio tag.
                    </audio> </div>
                    <code class="flex ml-2 text-[80%]  text-[#00002E]"> {{ msg.timestamp|time:'H:i' }}  </code>
                  </div>
                
                {% else %}
                   
                      <div class="hover:bg-sky-300   rounded-e-3xl rounded-bl-lg rounded-tl-3xl bg-[#ade8f4] px-4 py-2 text-slate-950"><a href="{{ msg.file.url }}" download><svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 pt-10" viewBox="0 0 384 512"><path fill = '#020617' d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z"/></svg>{{ msg.file.name }}</a></div>
                      <code class="flex ml-2 text-[80%]  text-[#00002E]">  {{ msg.timestamp|time:'H:i' }} </code>
                    </div>
                  
                  {% endif %}
                </div>
                
                  {% endif %}
            {% else %}

            {% if msg.sender == request.user.username %}

            <div onclick="toggleDeleteButton('{{ msg.id }}')" class="flex justify-end mr-3 mb-5 group/item">
              <div class="flex flex-col max-w-[75%]">
                <div class="flex flex-row items-end">
                  <a href = "{% url 'delete_chat' id=user.id chat_id=msg.id %}"><svg data-file-name="{{ msg.id }}" class = "delete-button hidden sm:block px-2 sm:invisible text-[#00002E] hover:text-[#464555] hover:bg-opacity-2 fill-current sm:group-hover/item:visible h-8 w-8 rounded-full" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 448 512"><path  d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>
                    <p class="hover:bg-slate-950  rounded-s-3xl rounded-br-lg rounded-tr-3xl overflow-x-hidden break-words bg-[#00002E] px-4 py-2 text-[#8acdea]">{{ msg.message }}</p>
              </div>
              <code class="flex justify-end mr-2 text-[80%] mt-0 text-[#00002E]">  {{ msg.timestamp|time:'H:i' }}</code>
            </div>
            </div>

            {% elif msg.sender == 'info-message'%}

            <div class="h-10 w-full mb-5 bg-[#00002E]">

              <div onclick="toggleDeleteButton('{{ msg.id }}')" class="flex justify-center mx-6  group/item">
                <div class="flex flex-col ">
                  <div class="flex flex-row items-end">
                    
                <p class="hover:bg-slate-950  rounded-3xl  bg-[#00002E] px-4 py-2 text-sky-200">{{ msg.message }} <h1 class="pb-2 text-[#8acdea]  text-xs"> {{ msg.timestamp|date:'d-m-Y H:i' }} </h1> </p>
                </div>
                
              </div>
              </div>

            </div>
            
            <!-- <div onclick="toggleDeleteButton('{{ msg.id }}')" class="flex  justify-center mx-6 mb-5 group/item">
              <div class="flex flex-col ">
                <div class="flex flex-row items-end">
                  
              <p class="hover:bg-slate-950  rounded-3xl  bg-[#00002E] px-4 py-2 text-sky-200">{{ msg.message }}</p>
              </div>
              
            </div>
            </div> -->


            {% else %}

            <div class="flex justify-start ml-3 mb-5">
              <div class="flex flex-col max-w-[75%]">
              <p class=" rounded-e-3xl rounded-bl-lg rounded-tl-3xl hover:bg-sky-300 bg-[#8acdea] px-4 py-2 text-base text-slate-950">{{ msg.message }}</p>
              <code class="text-[80%] flex  ml-2 text-[#00002E]"> {{ msg.timestamp|time:'H:i' }}</code>
              </div>
            </div>
            {% endif %}
            {% endif %}
        {% endfor %}

        <!-- end of messages -->

            <!-- feedback here  -->
            {% if Is_Rating_given %}
            <div id = "feedback_modal" class=" hidden w-full bg-[#00002E] flex flex-row">
              <h1 class="text-xl font-bold text-center px-5 py-4  text-white "> Thank you for your feedback</h1>
              <button onclick="close_feedback_modal()" class="ml-auto mr-10 inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-200 hover:bg-gray-900 hover:text-gray-900  " >
                <svg aria-hidden="true" class="h-5 w-5 fill-current text-white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            

            {% else %}
              

            <div id = "feedback_modal" class="hidden w-full bg-[#00002E]">
              <div class="container mx-auto p-4">
                
                <div class="flex items-center justify-between rounded-t border-b p-5 border-white-600">
                  <h3 class="text-xl  font-bold text-sky-50">Rate and Give Feedback</h3>
                  <button onclick="close_feedback_modal()" class="ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" >
                    <svg aria-hidden="true" class="h-5 w-5" fill="#FFFFFF" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                  </button>
                </div>
                <div class="flex items-center justify-center">
                  <form class="mt-4" action="{% url 'user_feedback' id=user.id %}" method="POST">
                    
                    {% csrf_token %}
                  <div class="rating-container -mt-2">
                    
                    
                    <input type="radio" id="star5" name="rating" value="1" class="hidden" onclick="fillStars(5)" />
                    <label for="star5" class="text-5xl text-gray-300 cursor-pointer">&#9733;</label>
                    <input type="radio" id="star4" name="rating" value="2" class="hidden" onclick="fillStars(4)" />
                    <label for="star4" class="text-5xl text-gray-300 cursor-pointer">&#9733;</label>
                    <input type="radio" id="star3" name="rating" value="3" class="hidden" onclick="fillStars(3)" />
                    <label for="star3" class="text-5xl text-gray-300 cursor-pointer">&#9733;</label>
                    <input type="radio" id="star2" name="rating" value="4" class="hidden" onclick="fillStars(2)" />
                    <label for="star2" class="text-5xl text-gray-300 cursor-pointer">&#9733;</label>
                    <input type="radio" id="star1" name="rating" value="5" class="hidden" onclick="fillStars(1)" />
                    <label for="star1" class="text-5xl text-gray-300 cursor-pointer">&#9733;</label>
                  </div>
                </div>
                
                  <label for="feedback" class="text-lg font-medium">Feedback:</label>
                  <textarea id="feedback" name="feedback" class="block w-full px-4 py-2 mt-2 bg-white border border-gray-300 rounded-md" rows="4" placeholder="Write your feedback here"></textarea>
                  <button type="submit" class="px-4 py-2 mt-4 text-white bg-blue-500 rounded-md hover:bg-blue-600">Submit</button>
                </form>
              </div>
              
              
            </div>

            {% endif %}


          <script>

            // feedback modal 
            const open_feedback_modal = () => {
    
              document.getElementById("feedback_modal").classList.remove("hidden");
                //document.getElementById("main").classList.add("backdrop-blur-sm");
              };
            const close_feedback_modal = () => {
                      
              document.getElementById("feedback_modal").classList.add("hidden");

            }




            function fillStars(rating) {
              const stars = document.querySelectorAll('.rating-container label');
              
              
              for (let i = 0; i < stars.length; i++) {
                if (i < 6-rating) {
                  stars[i].classList.add('text-yellow-400');
                } else {
                  stars[i].classList.remove('text-yellow-400');
                }
              }
            }


          </script>
            
            
             <!-- feedback here  -->
          </div> 
        </div>
        <!--end of messaging area  -->

       
      </div> 
    </main>

    


  <script>


  // function hideHeading() {
  //   const input = document.getElementById("message_input");
  //   const heading = document.getElementById("end-chat-button");

  //   // Check if the input field has a value
  //   if (input.value.trim() !== "") {
  //     heading.classList.add("hidden"); // Hide the heading
  //   } else{
  //     heading.classList.remove("hidden"); // Show the heading
  //   }
  // }

  function toggleDeleteButton(fileName) {
    console.log(fileName); // Display the file name in the console (for demonstration purposes)
    const deleteButton = document.querySelector(`.delete-button[data-file-name="${fileName}"]`);
    deleteButton.classList.toggle('hidden');
  }





    /// Go Back functionality
  document.getElementById('goBackButton').addEventListener('click', function () {
      window.history.back();
  });





  const open_delete_modal = () => {
      
      document.getElementById("end-chat-modal").classList.remove("hidden");
      //document.getElementById("main").classList.add("backdrop-blur-sm");
    };
    const close_delete_modal = () => {
      
      document.getElementById("end-chat-modal").classList.add("hidden");

    };

    
   
    
   
    function autoExpand(element) {
    const lineHeight = parseInt(window.getComputedStyle(element).lineHeight);
    const minHeight = lineHeight * 5; // Adjust this value to set the maximum number of lines (5 in this example)

    element.style.height = 'auto';
    let newHeight = element.scrollHeight + (element.offsetHeight - element.clientHeight);



    // Restrict the height to the maximum allowed height (5 lines)
    if (newHeight > minHeight) {
      newHeight = minHeight;
      element.style.overflowY = 'auto'; // Add vertical scrollbar if max height reached
    } else {
      element.style.overflowY = 'hidden'; // Hide vertical scrollbar if not needed
    }

    element.style.height = `${newHeight}px`;

    const input = document.getElementById("message_input");
    const heading = document.getElementById("end-chat-button");

    // Check if the input field has a value
    if (input.value.trim() !== "") {
      heading.classList.add("hidden"); // Hide the heading
    } else {
      heading.classList.remove("hidden"); // Show the heading
    }


  }






  // Get references to the file input element and the file-name div
const fileInput = document.getElementById('fileInput');
const fileNameElement = document.getElementById('file-name');
const message_input = document.getElementById('message_input');


// Add an event listener to the file input element
fileInput.addEventListener('change', function () {
  // Check if a file is selected
  if (fileInput.files.length > 0) {
    const fileName = fileInput.files[0].name;
    
    // Update the content of the file-name div with the selected file's name
    fileNameElement.classList.remove("hidden");
    fileNameElement.textContent = fileName;
    
    
    
  } else {
    // If no file is selected, hide the file-name div
    fileNameElement.classList.add("hidden");
    fileNameElement.textContent = ""; // Clear any previous text
  }
});




  

 







//     function toggleDeleteButton(event) {
//     event.stopPropagation();
//     const deleteButton = event.currentTarget.querySelector('.delete-button');
//     deleteButton.classList.toggle('hidden');
// }
  </script>

  {{user.id|json_script:"json-username"}}
  {{user.username|json_script:"json-username-receiver"}}

  {{request.user.username|json_script:"json-message-username"}}

  

  {% block javascript %}

  <script src="{% static 'js/chat.js' %}"></script>

  <!-- <script src="{% static 'js/chat_function.js' %}"></script>  -->
  <script src="{% static 'js/mobile_navbar.js' %}"></script> 
  {% endblock %}
</body>
</html>
