<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/output.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.0-beta.9/draggable.min.js"></script>
  </head>
  <body>
    <!-- whole  page -->
    <div class="relative flex min-h-screen flex-col bg-slate-800">
      <!-- Ribbon -->
      <div class="h-14 w-full bg-slate-900">
        <!-- open and close nav bar for mobiles  -->
        <div class="sm:hidden">
          <button id="mobile-menu-icon" class="cursor-pointer" onclick="open_menu()">
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-5 mt-3 h-8" viewBox="0 0 448 512"><path fill="#FFFFFF" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" /></svg>
          </button>

          <button id="cancel-icon" class="fixed inset-x-0 hidden cursor-pointer" onclick="close_menu()">
            <svg fill="#FFFFFF" class="ml-5 mt-3 h-9" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" /></svg>
          </button>

          <!-- modal nav bar for mobile -->
          <div id="mobile-nav-bar" class="fixed inset-0 z-50 mt-14 hidden h-screen w-1/3 bg-slate-900 text-center text-xl font-bold text-white opacity-80">
            <ul class="py-4">
              <li class="border-b border-gray-700 px-4 py-5 hover:bg-white hover:text-black">Home</li>
              <li class="border-b border-gray-700 px-4 py-5 hover:bg-white hover:text-black">Search</li>
              <li class="border-b border-gray-700 px-4 py-5 hover:bg-white hover:text-black">Profile</li>
              <li class="border-b border-gray-700 px-4 py-5 hover:bg-white hover:text-black">Logout</li>
            </ul>
          </div>
          <!-- end of modal nav bar for mobile -->
        </div>
        <!-- open and close nav bar for mobiles  -->
      </div>
      <!-- end of ribbon Ribbon -->

      <div class="flex flex-1 flex-row">
        <!-- Vertical Navigation Bar -->

        <div class="hidden bg-slate-800 font-bold text-white shadow-sm shadow-slate-600 sm:block sm:w-[20%]">
          <ul class="py-4">
            <li class="border-b border-gray-700 px-4 py-5 text-center hover:bg-slate-700">Home</li>
            <li class="border-b border-gray-700 px-4 py-5 text-center hover:bg-slate-700">About</li>
            <li class="border-b border-gray-700 px-4 py-5 text-center hover:bg-slate-700">Services</li>
            <li class="border-b border-gray-700 px-4 py-5 text-center hover:bg-slate-700">Contact</li>
          </ul>
        </div>
        <!-- vertical nav bar ends here -->

        <div class="hidden w-full bg-slate-800 shadow-sm shadow-slate-600 sm:block sm:w-[25%]">
          <!-- search bar for messages  -->
          <div class="mt-3 flex items-start justify-center">
            <div class="relative">
              <input class="h-10 w-full rounded-full pl-3 pr-3 text-center placeholder:text-sm sm:w-[90%]" type="text" id="searchInput" placeholder="&#8203;Enter your Username" />
              <div class="pointer-events-none absolute left-0 top-0 flex h-full items-center pl-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 101" class="h-6 w-6 text-gray-500">
                  <path d="M63.3 59.9c3.8-4.6 6.2-10.5 6.2-17 0-14.6-11.9-26.5-26.5-26.5S16.5 28.3 16.5 42.9 28.4 69.4 43 69.4c6.4 0 12.4-2.3 17-6.2l20.6 20.6c.5.5 1.1.7 1.7.7.6 0 1.2-.2 1.7-.7.9-.9.9-2.5 0-3.4L63.3 59.9zm-20.4 4.7c-12 0-21.7-9.7-21.7-21.7s9.7-21.7 21.7-21.7 21.7 9.7 21.7 21.7-9.7 21.7-21.7 21.7z"></path>
                </svg>
              </div>
            </div>
          </div>
          <!-- search bar for messages  -->

          <!-- profiles section -->
          <div class="flex flex-col justify-center">
            <ul class="py-7">
              <li class="border-t border-gray-700 px-4 py-2 text-center hover:bg-slate-700">
                <div class="flex flex-row items-center">
                  <img src="https://picsum.photos/200/300/?blur=2" class="ml-5 h-14 w-14 flex-none rounded-full bg-black" />
                  <div class="ml-5 text-start text-white">
                    <p class="flex-none"><b>Name</b> @username</p>
                    <h1 class="text- mt-2">hell</h1>
                  </div>
                </div>
              </li>
              <li class="px-4 py-2 text-center hover:bg-slate-700">
                <div class="flex flex-row items-center">
                  <img src="https://picsum.photos/seed/picsum/200/300" class="ml-5 h-14 w-14 flex-none rounded-full bg-black" />
                  <div class="ml-5 text-start text-white">
                    <p class="flex-none text-start"><b>Name</b> @username</p>
                    <h1 class="text- mt-2 flex-none">ddddddddddd</h1>
                  </div>
                </div>
              </li>
              <li class="px-4 py-2 text-center hover:bg-slate-700">
                <div class="flex flex-row items-center">
                  <img src="https://picsum.photos/200/300?grayscale" class="ml-5 h-14 w-14 flex-none rounded-full bg-black" />
                  <div class="ml-5 text-start text-white">
                    <p class="flex-none text-start"><b>Name</b> @username</p>
                    <h1 class="text- mt-2">hell</h1>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- end of profiles section -->
        </div>

        <!-- main content area -->
        <div class="relative flex-1 bg-slate-800 shadow-md shadow-slate-700 ring-1 ring-slate-700 sm:mx-auto sm:block sm:max-w-[55%] sm:rounded-lg">
          <!-- name ribbon  -->

          <section>
            <div class="flex flex-col items-center justify-center bg-slate-900 py-5 font-bold text-white backdrop-blur-sm">
              <img src="" class="h-10 w-10 rounded-full bg-slate-300" />
              <h1>Name</h1>
              <h2>@username</h2>
            </div>
          </section>
          <!-- end of name ribbon  -->

          <section>
            <div class="fixed bottom-0 flex w-full justify-between rounded-lg bg-slate-900 sm:w-[55%]">
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-4 mt-6 h-7 w-7" viewBox="0 0 512 512"><path fill="#fFFFFF" d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z" /></svg>
              <input type="text" class="mx-5 my-4 h-10 w-full rounded-2xl px-8 placeholder:px-4" id="message_input" placeholder="Write message..." />
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="my-4 mr-4 h-10 w-10 hover:rounded-lg hover:bg-slate-400" viewBox="0 0 256 256" id="paper-plane-right"><path fill="#fFFFFF" d="M223.44434,114.03906,54.5293,19.44727A16.00042,16.00042,0,0,0,31.64355,38.78906L60.64746,120H136a8,8,0,0,1,0,16H60.64746L31.64355,217.21094a16.0398,16.0398,0,0,0,15.041,21.4082,16.039,16.039,0,0,0,7.8457-2.06641l168.91309-94.59179a16.00165,16.00165,0,0,0,.001-27.92188Z"></path></svg>
              </div>
            </div>
          </section>

          <section>
            <div class="flex flex-col-reverse">
              <!--start-->

              <div class="flex justify-start">
                <div class="mx-4 mt-4 max-w-[82%] overflow-hidden rounded-e-3xl rounded-t-3xl rounded-bl-md bg-slate-900 px-4 py-4 text-white">--ddddddddddddddddddddddddddddd--------dddddddddddddddddddddddddd-----dddddddddddd---------s</div>
              </div>

              <div class="flex justify-end">
                <p class="bg-sky-2000 mx-4 mt-4 max-w-[82%] overflow-hidden rounded-s-3xl rounded-t-3xl rounded-br-md bg-white px-4 py-4">--------------sddddd--------ddddddddddd--------ddddddddddd--------ddddddddddd--------ddddddddddd--------ddddddddddd--------ddddddddddd--------ddddddddddd--------ddddddddddd--------dddddd</p>
              </div>

              <div class="justify-self-start">
                <div class="mx-4 mt-4 max-w-[82%] overflow-hidden rounded-e-3xl rounded-t-3xl rounded-bl-md bg-slate-900 px-4 py-4 text-white">--ddddddddddddddddddddddddddddd--------dddddddddddddddddddddddddd-----dddddddddddd---------s</div>
              </div>
            </div>
            <!--end-->
          </section>
        </div>
      </div>
      <!-- end of main content area -->

      <!-- whole  page -->

      <!-- bottom nav bar -->
    </div>
    <!--end of bottom nav bar -->
  </body>
  <script>

    const openModal = () => {

        document.getElementById("modal").classList.remove("hidden");
        //document.getElementById("main").classList.add("backdrop-blur-sm");
      };
      const closeModal = () => {

        document.getElementById("modal").classList.add("hidden");

      };

          ////for mobile menu //////
          const open_menu = () => {

        document.getElementById("mobile-menu-icon").classList.add("hidden");
        document.getElementById("cancel-icon").classList.remove("hidden");
        document.getElementById("mobile-nav-bar").classList.remove("hidden");

      };
      const close_menu = () => {

        document.getElementById("mobile-menu-icon").classList.remove("hidden");
        document.getElementById("cancel-icon").classList.add("hidden");
        document.getElementById("mobile-nav-bar").classList.add("hidden");

      };
      ////for mobile menu //////



      /////FAQ ////////////
      document.addEventListener('alpine:init', () => {
        Alpine.store('accordion', {
          tab: 0
        });

        Alpine.data('accordion', (idx) => ({
          init() {
            this.idx = idx;
          },
          idx: -1,
          handleClick() {
            this.$store.accordion.tab = this.$store.accordion.tab === this.idx ? 0 : this.idx;
          },
          handleRotate() {
            return this.$store.accordion.tab === this.idx ? 'rotate-180' : '';
          },
          handleToggle() {
            return this.$store.accordion.tab === this.idx ? `max-height: ${this.$refs.tab.scrollHeight}px` : '';
          }
        }));
      })
  </script>
</html>
