

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search users</title>
    {% load static %}
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="/static/css/output.css" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/search_users.js' %}"></script>
    <!-- <script src="{% static 'js/search_users.js' %}"></script> -->
    
    
   
  </head>
  <body>
    <main class="relative flex overflow-hidden flex-col h-screen bg-[#caf0f8]">
      <!-- Ribbon -->
      <div id = "top-ribbon" class="relative flex items-center top-0 z-10 h-14 py-4 w-full bg-[#00002E]">
        <span id = "goBackButton" >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="fill-current text-[#caf0f8] mx-4 w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
          </svg>
        </span>
        <h1 class="text-[#caf0f8] text-lg font-bold "> Search Users</h1>
      
        
      </div>
      <!-- end of ribbon -->

      <div class="flex flex-1 flex-row">
        <!-- Vertical Navigation Bar -->
        {% include 'desktop_nav.html' %}

        <div class="relative flex-1 bg-  px-6 pb-8 pt-10  shadow-2xl  sm:mx-auto sm:max-w-[60%] sm:rounded-lg sm:px-10">
          <div class="mx-auto max-w-full ">
            <!-- Search box --> 
            <div class="flex items-start justify-center border-b border-slate-700 pb-8">
                <div class="relative">
                  <input class="max-w-[100%]  sm:w-full rounded-full  h-10 pl-10 pr-3 text-center" type="text" id="searchInput" placeholder="&#8203;Enter your search query">
                      <div class="absolute top-0 left-0 flex items-center h-full pl-3 pointer-events-none">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 101" class="h-6 w-6 text-gray-500">
                        <path d="M63.3 59.9c3.8-4.6 6.2-10.5 6.2-17 0-14.6-11.9-26.5-26.5-26.5S16.5 28.3 16.5 42.9 28.4 69.4 43 69.4c6.4 0 12.4-2.3 17-6.2l20.6 20.6c.5.5 1.1.7 1.7.7.6 0 1.2-.2 1.7-.7.9-.9.9-2.5 0-3.4L63.3 59.9zm-20.4 4.7c-12 0-21.7-9.7-21.7-21.7s9.7-21.7 21.7-21.7 21.7 9.7 21.7 21.7-9.7 21.7-21.7 21.7z"></path>
                        </svg>
                      </div>
                </div>
          </div>
          <!--- Search Box ends Here -->
         
         <!-- search result -->
         <div class="flex justify-center ">

          <ul class="flex flex-col justify-center max-h-[calc(100vh-4rem)] overflow-y-auto">
            
            <div id = "searchResults">
                
          </div>

          </ul>
            <!-- Here javascript takes over -->
            <!-- search result ends here -->

          </div>
          </div>
        </div>
      </div>
      {% include 'mobile_nav.html' %}
    
    

    {% block javascript %}

    

    
    {% endblock %}
    </main>
  </body>
</html>


<script>
  document.getElementById('goBackButton').addEventListener('click', function () {
    window.history.back();
});


</script>